@model IEnumerable<BankOfBIT.Models.RFIDTag>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th><!-- Modified to display Full Name instead of First Name -->
            @Html.DisplayNameFor(model => model.Client.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td><!-- Modified to display Full Name instead of First Name -->
            @Html.DisplayFor(modelItem => item.Client.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RFIDTagId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RFIDTagId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RFIDTagId })
        </td>
    </tr>
}

</table>
